{
  "extends": [
    "@eslint-kit/patch",
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/react",
    "@next/eslint-plugin-next"
  ],
  "parser": "@typescript-eslint/parser"
}
