# dependencies
node_modules/
.pnp
.pnp.js
.yarn/

# next.js
.next/
out/
.swc/

# build
build/
dist/

# testing
coverage/
playwright-report/
test-results/

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets
*.pem
*.key
*.p12

# ide
.idea/
.vscode/
*.iml

# misc
.amazonq/
