# dependencies
node_modules/
.pnp
.pnp.js
.yarn/

# next.js
.next/
out/
.swc/

# build
build/
dist/

# testing
coverage/
playwright-report/
test-results/
jest-sonar-coverage-report.xml

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets
*.pem
*.key
*.p12

# ide
.idea/
.vscode/
*.iml

# misc
.amazonq/

##############################
## Deployment
##############################
/docker-compose.prod.yml
/.env.prod
/ops/scripts/
/ops/deployment-internal/
maintaner/
e2e/.auth.json
